<!DOCTYPE html>
<html lang="no" ng-app="metasystem-app">
<head>
  <title>KDRS-Grouse Noark 5 kravspec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css resources -->
  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">
  <link
    href="dependencies/vendor/META-INF/resources/webjars/font-awesome/5.0.9/web-fonts-with-css/css/fontawesome-all.css"
    rel="stylesheet" type="text/css">

  <!-- js resources -->
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.6.6/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.2.1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
  <script src="common.js"></script>
  <script src="main.js"></script>

</head>
<body ng-controller="MainController">

<div class="fixed-top" data-toggle="affix">
  <div class="navbar navbar-dark bg-dark navbar-expand-sm py-3 align-items-start" id="top">
    <a href="#" class="navbar-brand">Nämnd</a>
    <a href="#" class="navbar-brand">{{organisation.name}}</a>
  </div>
  <div class="navbar navbar-dark bg-dark navbar-expand-sm py-3 align-items-start" id="first">
    <a href="#" class="navbar-brand">Verksamhet</a>
    <a class="navbar-toggler p-2 text-white border-0" data-toggle="collapse" data-target=".navbar-collapse">☰</a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-repeat="operation in operations track by $index">
        <li class="nav-item">
          <a href="#" class="nav-link"
             ng-click="selectOperation(operation , $index); ">{{operation.operationTitle}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar navbar-light bg-light navbar-expand pl-2" id="second">
    <a href="#" class="navbar-brand">Processområden</a>
    <ul class="nav navbar-nav" ng-repeat="organisationArea in organisationAreas track by $index">
      <li class="nav-item">
        <a href="#" class="nav-link"
           ng-click="selectOrganisationArea(organisationArea , $index); ">{{organisationArea.organisationAreaTitle}}</a>
      </li>
    </ul>
  </div>
  <div class="navbar navbar-light bg-info navbar-expand pl-2" id="third">
    <a href="#" class="navbar-brand">Processer/Aktiviteter</a>
    <ul class="nav navbar-nav" ng-repeat="organisationSegment in organisationSegments track by $index">
      <li class="nav-item">
        <a href="#" class="nav-link"
           ng-click="selectOrganisationSegment(organisationSegment , $index); ">{{organisationSegment.organisationSegmentTitle}}</a>
      </li>
    </ul>
  </div>
</div>
<br><br><br><br><br><br><br>
<div class="container">
  <h2>Aktiviteter</h2>
  <p>Her er alle aktivitetene:</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Process</th>
          <th>Registrering</th>
          <th>Format</th>
          <th>Förvaring</th>
          <th>Format</th>
          <th>Förvaring</th>
          <th>Bevaras el.Gallringsfrist</th>
          <th>Leveransfrist till Kommunarkivet</th>
          <th>Format vid arkivering</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="activity in activities">
          <td>
            {{activity.title}}
          </td>
          <td>
            {{activity.registration}}
          </td>
          <td>
            {{activity.analogueDocumentFormat}}
          </td>
          <td>
            {{activity.analogueDocumentStorage}}
          </td>
          <td>
            {{activity.digitalDocumentFormat}}
          </td>
          <td>
            {{activity.digitalDocumentStorage}}
          </td>
          <td>
            {{activity.deletionRetentionDeadline}}
          </td>
          <td>
            {{activity.depositToArchiveDeadline}}
          </td>
          <td>
            {{activity.formatForArchiving}}
          </td>
        </tr>
        </tbody>
      </table>
</div>
</body>
</html>
